<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Awesome Blog</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="@Url.Action("Index", "Blog")">Blog</a></li>
            <li><a href="@Url.Action("Index", "About")">About us</a></li>
            <li><a href="@Url.Action("Index", "ContactUs")">Contact us</a></li>
            <li><a href="@Url.Action("Index", "PostViews")">Post Views</a></li>
        </ul>
    </div>
</nav>